<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4>{{classroom.subject}} Classroom</h4>
        <br />
        <br />
        <h4>Class Instructor: Prof. {{classroom.instructor}}</h4>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Subject Name</th>
                        <th>Email Address</th>
                        <th>Enrolled Semester</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sub in classroom.studs">
                        <td>{{sub.studentId}}</td>
                        <td>{{sub.studentFirstName}} {{sub.studentLastName}}</td>
                        <td>{{sub.emailAddress}}</td>
                        <td>{{sub.enrolledSemester}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>