<!DOCTYPE html>
<html ng-app="app" ng-controller="HttpGetController">

<head>
    <meta charset="ISO-8859-1">
    <title>ITIS 6177 | MidTerm App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="./../scripts/app.js"></script>
    <script src="./../scripts/angularcontroller.js"></script>
    <script>
        /*var app = angular.module("app", ["ngRoute"]);
        app.config(function ($routeProvider) {
            $routeProvider
                .when("/index", {
                    templateUrl: "/4"
                })
                .when("/addNewStudent", {
                    templateUrl: "/1"
                })
                .when("/updateStudentDetails", {
                    templateUrl: "/2"
                })
                .when("/changeAdvisor", {
                    templateUrl: "/3"
                })
                .when("/deleteStudent", {
                    templateUrl: "/1"
                });
        });*/

        /*
        app.controller("HttpGetController", function ($scope, $http, $window) {

            $scope.test = "This is Test Data";

            $scope.red = function () {
                $window.location.href = "#!index";
            }

            $scope.GetAllData = function () {
                $http.get('http://localhost:3000/api/v1/students')
                    .then(function (response) {
                        console.log(response.data);
                        $scope.studentDetails = response.data;
                    });
            };

            /*
            $scope.GetAllData = function () {

                var data = $.param({
                    driveid: $scope.drive_id
                });

                var config = {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }

                $http.post('http://localhost:8081/api/v1/donorDetailsForNurse', data, config)
                    .then(function (response) {
                        console.log(response.data);
                        $scope.Details = response.data;
                    });
            };

        }); */
    </script>

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!index">Student's App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#!index">Home</a></li>
                <li><a href="#!addNewStudent">Add New Student</a></li>
                <li><a href="#!updateStudentDetails">Update Student Details</a></li>
                <li><a href="#!changeAdvisor">Change Student Advisor</a></li>
                <li><a href="#!deleteStudent">Delete Student Records</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>STUDENT'S APP</h1>
    </div>

    <div ng-view></div>
</body>

</html>