<!DOCTYPE html>
<html ng-app="app" ng-controller="HttpGetController">

<head>
    <meta charset="ISO-8859-1">
    <title>ITIS 6177 | MidTerm App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var app = angular.module("app", []);
        app.controller("HttpGetController", function ($scope, $http) {

            $scope.GetAllData = function() {
                $http.get('http://localhost:3000/api/v1/students')
                    .then(function(response) {
                        console.log(response.data);
                        $scope.studentDetails = response.data;
                });
            };

            /*
            $scope.GetAllData = function () {

                var data = $.param({
                    driveid: $scope.drive_id
                });

                var config = {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }

                $http.post('http://localhost:8081/api/v1/donorDetailsForNurse', data, config)
                    .then(function (response) {
                        console.log(response.data);
                        $scope.Details = response.data;
                    });
            };
            */
        });
    </script>

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Student's App</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/addNewStudent">Add New Student</a></li>
                <li><a href="/updateStudentDetails">Update Student Details</a></li>
                <li><a href="/changeAdvisor">Change Student Advisor</a></li>
                <li><a href="/deleteStudent">Delete Student Records</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>STUDENT'S APP</h1>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h4>Fetch details of all the students here</h4>
            <br />
            <h4>Following table displays student details</h4>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-5"></div>
        <button class="btn btn-primary" ng-click="GetAllData()">GET STUDENT DETAILS</button>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Student Id</th>
                            <th>Student Name</th>
                            <th>Age - Gender</th>
                            <th>Email Address</th>
                            <th>Enrolled Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sd in studentDetails">

                            <td>{{sd.studentId}}</td>
                            <td>{{sd.studentFirstName}} {{sd.studentLastName}}</td>
                            <td>{{sd.studentAge}} - {{sd.gender}}</td>
                            <td>{{sd.emailAddress}}</td>
                            <td>{{sd.enrolledSemester}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</body>

</html>