<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <h4>Fetch details of all the students here</h4>
        <br />
        <h4>Following table displays student details</h4>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-5"></div>
    <button class="btn btn-primary" ng-click="GetAllData()">GET STUDENT DETAILS</button>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>Age - Gender</th>
                        <th>Email Address</th>
                        <th>Enrolled Semester</th>
                        <th>Subjects</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sd in studentDetails">
                        <td>{{sd.studentId}}</td>
                        <td>{{sd.studentFirstName}} {{sd.studentLastName}}</td>
                        <td>{{sd.studentAge}} - {{sd.gender}}</td>
                        <td>{{sd.emailAddress}}</td>
                        <td>{{sd.enrolledSemester}}</td>
                        <td>
                            <div ng-repeat="sub in sd.subjects">{{sub}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>