<div class="row" data-ng-init="GetAllInstructorData();">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4>Subjects By Instructor</h4>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Instructor</th>
                        <th>Number of Subjects</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sub in instructorDetails">
                        <td>{{$index + 1}}</td>
                        <td>{{sub.instructor}}</td>
                        <td>{{sub.subCount}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="getInstructorSubjects(sub.instructor);">Get
                                Subjects</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>