<div class="row" data-ng-init="GetAllData();">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4>Update Student Details</h4>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>Age - Gender</th>
                        <th>Email Address</th>
                        <th>Enrolled Semester</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sd in studentDetails">

                        <td>{{sd.studentId}}</td>
                        <td>{{sd.studentFirstName}} {{sd.studentLastName}}</td>
                        <td>{{sd.studentAge}} - {{sd.gender}}</td>
                        <td>{{sd.emailAddress}}</td>
                        <td>{{sd.enrolledSemester}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="updateStudent(sd.studentId);">Update
                                Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>